<launch>
    <node pkg="autoware_mini_practice_solutions" name="publisher1" type="publisher.py" output="screen" required="true">
        <param name='message' value='Hello ROS'/>
        <param name='rate' value='2'/>
    </node>

    <node pkg="autoware_mini_practice_solutions" name="publisher2" type="publisher.py" output="screen" required="true">
        <param name='message' value='Hello AutowareMini'/>
        <param name='rate' value='5'/>
    </node>


    <node pkg="autoware_mini_practice_solutions" name="subscriber" type="subscriber.py" output="screen" required="true"/>



</launch>